<div class="widget">
    <h2><small>{{ lang.certificates }} Fingerprints (SHA256)</small></h2>
    <p>{{ lang.fingerprints_post_pre }}: <a href="{{ lang.fingerprints_post_url }}">{{ lang.fingerprints_post }}</a></p>
    <p>*.tem.li 
        <small><pre>{{ site.data.fp.tem_li_sha256 }}</pre></small>
    </p>
    <p>jabber.systemli.org / {{ site.data.onion.jabber_systemli }}
        <small><pre>{{ site.data.fp.jabber_systemli_sha256 }}</pre></small>
    </p>
    <p>mail.systemli.org / {{ site.data.onion.mail_systemli }}
        <small><pre>{{ site.data.fp.mail_systemli_sha256 }}</pre></small>
    </p>
    <p><a href="/assets/fingerprints.txt.asc">{{ lang.fingerprints_signed }}</a></p>
</div>
