stages:
  - build
  - generate
  - deploy

before_script:
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

build_image:
  stage: build
  script: docker build -t systemli-website:latest .

generate_website:
  stage: generate
  artifacts:
    untracked: true
  script: docker run --rm -v $PWD:/data systemli-website:latest

deploy_prod:
  stage: deploy
  only: [master]
  dependencies: [generate_website]
  script: rsync -vrltgoDz --delete -e ssh public/ systemli@www3.systemli.org:/var/www/www.systemli.org/www

deploy_staging:
  stage: deploy
  only: [staging]
  dependencies: [generate_website]
  script: rsync -vrltgoDz --delete -e ssh public/ systemli-staging@www3.systemli.org:/var/www/www.staging.systemli.org/www

deploy_preview:
  stage: deploy
  only: [preview]
  dependencies: [generate_website]
  script: rsync -vrltgoDz --delete -e ssh public/ systemli-preview@www3.systemli.org:/var/www/www.preview.systemli.org/www
