.navbar {
    display: flex;
    justify-content: space-between;
    padding: 17px 20px 17px 40px;
    background: $lightblue;
    font-size: 17px;
    font-weight: bold;

    .navbar__item--left,
    .navbar__item--right {
        text-decoration: none;
        padding: 0 5px;
    }

    .navbar__item--left {
        &:link,
        &:active {
            color: $white;
        }

        &:hover {
            color: $black;
        }

        &.navbar__item--active {
            color: $black;
        }
    }

    .navbar__item--right {
        &:link,
        &:active {
            color: $black;
        }

        &:hover {
            color: $white;
        }
    }

}
