{{ define "main" }}

<div class="content-container">
    <!-- For type services: Render special list template -->
    {{ if eq .Params.type "services" }}
    <div class="flex flex-wrap justify-around">
        {{ range .Pages }}
        <a class="w-96 bg-lightgrey text-black m-2 p-10 transform hover:scale-101" href="/service/{{ .File.TranslationBaseName }}">
            <div class="flex justify-between items-center border-b">
                <h2>{{ .Params.Title }}</h2>
                <img class="h-10" src="/service-icons/{{ .Params.icon }}" alt="Icon">
            </div>
            <div class="pt-2">
                {{ .Params.teaser }}
            </div>
        </a>
        {{ end }}
        <!-- flex hack: https://stackoverflow.com/questions/16377972/how-to-align-left-last-row-line-in-multiple-line-flexbox -->
        <div class="w-96 h-0 m-2"></div>
        <div class="w-96 h-0 m-2"></div>
    </div>

    {{ else }}
    <!-- All other lists: Render post list -->
    <div class="grid grid-cols-8">


        {{ range .Paginator.Pages }}
        <div class="flex items-center col-span-1 border-b border-r text-l leading-6">
            {{ .Date.Format "02/01 2006" }}
        </div>
        <div class="col-span-7 pl-4 border-b pr-4 leading-6">
            <h2>{{ .Title }}</h2>
        </div>
        <div class="col-span-1"></div>
        <div class="col-span-7 py-4 pl-4 pr-4">
            {{ .Summary }}
            <p>
                <a class="readmore" href="{{ .RelPermalink }}">{{ .Param "readOn" }}</a>
            </p>
        </div>
        {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}

    {{ end }}
</div>

{{ end }}
