<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% if page.url contains 'index.html' %}
      {% assign index = true %}
      {% assign title = 'systemli.org - Your friendly tech collective' %}
    {% else %}
      {% assign index = false %}
      {% assign title = page.title | append: ' | systemli.org' %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ lang.subtitle }}">
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ lang.subtitle }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="{% if index %}website{% else %}article{% endif %}" />
    <meta property="og:image" content="{{ site.url }}/assets/img/systemli_logo_small.png" />
    <meta name="twitter:card" content="{{ title }}" />
    <meta name="twitter:site" content="@systemli" />
    <meta name="twitter:creator" content="@systemli" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://*.systemli.org; object-src 'none'">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="All systemli.org News as Feed">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <script src="/assets/js/jquery-1.10.1.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Matomo -->
    <script src="https://analytics.systemli.org/piwik.js" async defer></script>
    <script src="/assets/js/analytics.js"></script>
    <!-- End Matomo Code -->
</head>
<body>
<div class="container">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
		{% if page.lang == 'de' %}
           	<a class="navbar-brand" href="/index.html">systemli.org</a>
		{% else %}
           	<a class="navbar-brand" href="/{{ page.lang }}/index.html">systemli.org</a>
		{% endif %}
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% assign sorted_pages = site.pages | sort:"order" %}
                {% for node in sorted_pages %}
                  {% if node.menu_group == 'contact' %}
					{% if page.lang == 'de' %}
                      {% if page.url == node.url %}
                      	<li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
                      {% else %}
                        <li><a href="{{node.url}}">{{node.title}}</a></li>
                      {% endif %}
					{% else %}
					  {% capture int_node_url %}/{{ page.lang }}{{ node.url }}{% endcapture %}
					  {% if page.url == int_node_url %}
                      	<li class="active"><a href="/{{ page.lang }}{{node.url}}">{{node.en_title}}</a></li>
					  {% else %}
                        <li><a href="/{{ page.lang}}{{node.url}}">{{node.en_title}}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li><a href="/atom.xml" target="_blank"><img src="/assets/img/rss.png" class="twitter" id="rss-nav"/></a></li>
                <li><a href="https://github.com/systemli" target="_blank"><img src="/assets/img/GitHub-Mark-Light-32px.png" class="twitter" id="github-nav"/></a></li>
                <li><a href="https://twitter.com/systemli" target="_blank"><img src="/assets/img/twitter-bird-dark-bgs.png" class="twitter" id="twitter-nav"/></a></li>
			  {% if page.translated %}
				{% for t in page.translations %}
				  {% if t.lang != page.lang %}
				    <li><a href="{{ t.url }}">{{ t.lang | upcase }}</a></li>
					{% break %}
				  {% endif %}
  				{% endfor %}
			  {% else %}
				{% if page.lang == 'de' %}
                  <li><a href="/en/index.html">EN</a></li>
                {% else %}
                  <li><a href="/index.html">DE</a></li>
			    {% endif %}
			  {% endif %}
              <li><a href="https://users.systemli.org">Login</a></li>
            </ul>
        </div>
    </nav>
    {{ content }}
    {% include footer.html %}
</div>
<noscript>
    <img src="https://analytics.systemli.org/piwik.php?idsite=2&amp;rec=1" style="border:0" alt="" />
</noscript>
</body>
</html>
