body {
    padding-top: 70px;
}

.row {
    margin-top: 10px;
}

.jumbotron {
    padding: 20px 40px !important;
}

.jumbotron h1 {
    margin-top: 10px;
}

.jumbotron + div h2 {
    margin-top: 0;
}

.push-top {
    margin-top: 20px;
}

img.twitter {
    height: 1.2em;
}

img.logo {
    height: 1.4em;
}

blockquote {
    font-size: 1em;
}

article img {
    float: right;
    margin-left: 0.7em;
    /*min-width: 87px;*/
    max-width: 100%;
    max-height: 100%;
}

article h3 {
    clear: both;
}

article.post h3 {
    clear: inherit;
}

article p {
    word-break: normal;
}

.image-caption {
    color: #606060;
    font-size: 11px;
}


/* table from https://github.com/tomjoht/documentation-theme-jekyll/ */
table {
    background-color: transparent;
    max-width: 90%;
    margin-bottom: 20px;
    border: 1px solid #dedede;
}

th {
    text-align: left;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    text-transform: none;
    background-color: #777;
    color: white;
    text-align: left;
}

table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

table tr td {
    hyphens: auto;
}

.dropdown-menu {
    min-width: unset;
}
