body { padding-top: 70px; }
.row { margin-top: 10px; }
.jumbotron { padding: 20px 40px !important; }
.jumbotron h1 { margin-top: 10px; }
.jumbotron + div h2 { margin-top: 0; }
.push-top { margin-top: 20px; }
img.twitter { height: 1.2em; }
img.logo { height: 1.4em; }
blockquote { font-size: 1em; }
article img { float: right; margin-left: 0.7em; }
article h3 { clear: both; }
article.post h3 { clear: inherit; }
.image-caption { color: #606060; margin-top: $spacing-unit / 3; font-size: 11px; }
