---
layout: default
lang: en
title: News-Archiv
categories:
    - en
---
<div class="row">
    <div class="col-lg-8">
        <h2>{{ page.title }}</h2>
        {% for post in paginator.posts %}
        {% include news-excerpt.html %}
        {% endfor %}
        <div class="pagination">
            <ul class="pager">
                {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                <li class="previous"><a href="/news/index.html">&larr; Older Posts</a></li>
                {% else %}
                <li class="previous"><a href="/news/page-{{ paginator.previous_page }}/index.html">&larr; Older Posts<a></li>
                {% endif %}
                {% else %}
                <li class="previous disabled"><a href="#">&larr; Older Posts</a></li>
                {% endif %}
                {% if paginator.next_page %}
                <li class="next"><a href="/news/page-{{ paginator.next_page }}/index.html">Newer Posts &rarr;</a></li>
                {% else %}
                <li class="next disabled"><a href="#">Newer Posts &rarr;</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
