@tailwind base;

@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Bold.eot');
    src: url('/webfont/TSTARTWPRO-Bold.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Bold.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Regular.eot');
    src: url('/webfont/TSTARTWPRO-Regular.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Regular.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    @apply border-b pb-2 mb-10 font-bold text-xl;
}
h2 {
    @apply py-2 font-bold text-l;
}
h3 {
    @apply py-2 font-bold text-m;
}
a {
    @apply text-lightblue;
}
a:hover {
    @apply underline;
}
p {
    @apply py-2 break-normal;
}
ul {
    @apply pb-3 list-disc list-inside;
}
li {
    @apply pl-6;
}
pre {
    @apply py-2 px-1 bg-lightgrey border border-grey rounded text-xs overflow-auto;
}
dl {
    @apply py-2 break-normal;
}
.button-link {
    @apply text-xs my-3;
}
.button-link::before {
    @apply bg-lightblue inline-block h-3 w-3 mr-2;
    content: '';
}
.button-link:hover {
    @apply underline;
}

.content-container {
    @apply max-w-95 mx-auto;
}

@screen lg {
    .content-container {
        @apply w-19/20 max-w-screen-xl grid grid-cols-24 gap-0 items-start;
    }
}

.content {
    @apply bg-white shadow-m col-span-19 p-8;
}

/* styles for autogenerated pagination */

.pagination {
    @apply flex justify-center;
}
.pagination .page-item {
    @apply list-none;
}

@tailwind components;

.bg-body {
    background-image: url('/background.png');
    background-color: #f5f5f5;
    background-blend-mode: multiply;
}

.bg-menu {
    background-image: url('/mobile_menu_background.gif');
    background-size: contain;
    background-repeat: no-repeat;
}

@tailwind utilities;
