@tailwind base;

@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Bold.eot');
    src: url('/webfont/TSTARTWPRO-Bold.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Bold.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Regular.eot');
    src: url('/webfont/TSTARTWPRO-Regular.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Regular.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    @apply py-4 font-bold text-xl;
}
h2 {
    @apply py-2 font-bold text-l;
}
h3 {
    @apply py-2 font-bold text-m;
}
a {
    @apply text-lightblue;
}
a:hover {
    @apply text-pink;
}
p {
    @apply py-2;
}
ul {
    @apply pb-3 list-disc list-inside;
}
li {
    @apply pl-6;
}

@tailwind components;

.bg-body {
    background: url('/background.png') #f5f5f5;
}

@tailwind utilities;
