@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Bold.eot');
    src: url('/webfont/TSTARTWPRO-Bold.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Bold.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TSTAR TW PRO';
    src: url('/webfont/TSTARTWPRO-Regular.eot');
    src: url('/webfont/TSTARTWPRO-Regular.eot?#iefix') format('embedded-opentype'),
    url('/webfont/TSTARTWPRO-Regular.woff2') format('woff2'),
    url('/webfont/TSTARTWPRO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    @apply border-b pb-2 mb-6 font-bold text-l;
}
h2 {
    @apply py-2 font-bold text-ml;
    word-break: break-word;
}
@screen md {
    h1 {
        @apply text-xl
    }
    h2 {
        @apply text-l;
    }
}
h3 {
    @apply py-2 font-bold text-m;
}
h4 {
    @apply m-0 underline;
}
a {
    @apply text-lightblue;
    word-break: break-word;
}
a:hover {
    @apply underline;
}
p {
    @apply py-2 break-normal;
}
ul {
    @apply list-disc;
}
ul li {
    @apply pl-3 ml-6;
}
ol {
    @apply list-decimal;
}
ol li {
    @apply pl-1 ml-8;
}
pre, code {
    @apply py-2 px-1 border border-grey rounded text-xs overflow-auto;
    word-break: break-word;
    /* protect against devilish users trying to use syntax highlighting in their code blocks */
    background: theme('colors.lightgrey') !important;
    color: theme('colors.black') !important;
}
code {
    @apply p-1 border-none;
}
pre > code {
    @apply p-0;
}
dl {
    @apply py-2 break-normal;
}
sup {
    @apply text-darkgrey;
}
nav {
    @apply fixed z-50 top-0 right-0 overflow-y-scroll overflow-x-hidden
    pl-24 pt-4 pb-16 w-375 h-full
    bg-menu bg-contain bg-repeat-y bg-lightblue text-m font-bold;
    transition: transform 0.25s ease 0s;
    transform: translateX(375px);
}
@screen lg {
    nav {
        @apply relative p-0 w-auto min-h-0 overflow-auto;
        transform: none !important;
    }
}

/* define page width to use on header, logo row & content */
@variants responsive {
    .page-width {
        @apply w-18/20 mx-auto;
    }
    .page-width-lg {
        @apply w-19/20 max-w-screen-xl;
    }
}

.hide-on-mobile,
.hide-on-mobile--block {
    @apply hidden;
}
@screen lg {
    .hide-on-mobile {
        @apply flex;
    }
}
@screen lg {
    .hide-on-mobile--block {
        @apply block;
    }
}

.button-link {
    @apply text-xs my-3;
}
.button-link::before {
    @apply bg-lightblue inline-block h-3 w-3 mr-2;
    content: '';
}
.button-link:hover {
    @apply underline;
}

.content-container {
    @apply page-width;
}
.content-container.flex {
    @apply w-19/20;
}
@screen lg {
    .content-container {
        @apply page-width-lg grid grid-cols-24 gap-0 items-start;
    }
}
.content {
    @apply bg-white shadow-m col-span-19 p-6;
}
@screen md {
    .content {
        @apply p-8;
    }
}

.menu-item {
    @apply border-black px-1 py-3;
}
.menu-item:hover {
    @apply no-underline;
}
@screen lg {
    .menu-item {
        @apply relative tracking-tight;
    }

    .menu-item::before {
        @apply absolute top-0 block h-1 w-0 bg-white;
        content: "";
        transition: all 0.25s ease-in-out;
    }

    .menu-item:hover::before,
    .menu-item:focus::before,
    .menu-item.active::before {
        @apply w-full opacity-100;
    }
}
.menu-icon {
    @apply inline-block mx-2 w-5;
}
.menu-icon-svg {
    @apply fill-current text-black;
}
.menu-icon-svg:hover {
   @apply text-white;
}

.service-bar-link {
    @apply flex items-center py-2 border-t text-l text-black font-bold;
}
@screen lg {
    .service-bar-link {
        @apply ml-4;
    }
}
.service-bar-link:first-of-type {
    @apply border-none;
}
.service-bar-link:last-of-type {
    @apply border-b;
}
.service-bar-link:hover,
.service-bar-link.active {
    @apply bg-white border-transparent no-underline;
    transition: background-color 0.5s ease 0s;
}
@screen lg {
    .service-bar-link:hover,
    .service-bar-link.active {
        @apply pl-4 ml-0;
    }
}
.service-bar-link:hover + .service-bar-link,
.service-bar-link.active + .service-bar-link{
    border-top-color: theme('colors.transparent');
    border-bottom-color: theme('colors.black');
}

.service-tile-upper {
    transition: border-color 0.25s ease 0s;
}

.pagination {
    @apply flex flex-wrap justify-between;
}

.bg-body {
    background-image: url('/background.png');
    background-color: #f5f5f5;
    background-blend-mode: multiply;
}

.bg-menu {
    background-image: url('/mobile_menu_background_minimize.gif');
}

img[src*="#fl-2"] {
    float: left;
    @apply mr-2 mb-2;
}
img[src*="#f2-2"] {
    float: right;
    @apply ml-2 mb-2;
}
