<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, noarchive" />
    <meta name="format-detection" content="telephone=no">
    <title>{{ .Site.Params.title }} - {{ .Title }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Summary }}{{ end }}" />
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end }}
    {{ $scripts := resources.Get "js/main.js" }}
    {{ if .Site.IsServer }}
    <script src="{{ $scripts.RelPermalink }}" defer></script>
    {{ else }}
    {{ $scripts := $scripts | minify | fingerprint }}
    <script src="{{ $scripts.RelPermalink }}" defer integrity="{{ $scripts.Data.Integrity }}"></script>
    <link rel="me" href="https://systemli.social/@systemli">
    {{ end }}
    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
