<header>
    <nav class="hidden w-0 lg:w-auto pl-0 transition-all duration-200 ease-in-out flex-col-reverse lg:flex lg:flex-row justify-between absolute top-0 right-0 lg:relative pt-4 pb-16 lg:py-4 lg:px-8 bg-menu bg-lightblue text-m font-bold"
         id="navbar">
        <div class="flex flex-col lg:block">
            <a class="hidden lg:inline p-1 text-black hover:text-black"
               href="{{ .Site.BaseURL }}/{{ .Site.LanguagePrefix }}">
                systemli.org
            </a>
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <!-- manually exclude "Posts" section from menu -->
            {{ if ne .Name "Posts" }}
            <a class="pr-16 py-4 lg:p-1 text-white border-b border-black lg:border-0 hover:text-black
                {{if or ($currentPage.IsMenuCurrent " main" .) ($currentPage.HasMenuCurrent "main" .) }}
            text-black{{end}}" href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
            </a>
            {{ end }}
            {{ end }}
        </div>
        <div class="flex justify-between items-center pb-10 lg:pb-0">
            {{ if .IsTranslated }}
            {{ range .Translations }}
            <a class="px-2 text-black hover:text-white" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{ end }}
            {{ end }}
            <a class="px-2" href="https://twitter.com/systemli" target="_blank">
                <img class="inline w-6" src="/twitter.svg" alt="Twitter Logo">
            </a>
            <div class="flex lg:hidden items-center justify-center h-20 w-20 bg-black" id="button-menu-close">
                <span class="text-white cursor-pointer">
                    close
                </span>
            </div>
        </div>
    </nav>
    <div class="flex flex-row items-center justify-between lg:w-19/20 lg:max-w-screen-xl mx-auto py-4 mb-4 lg:mb-0">
        <a class="w-64 lg:w-1/4 max-w-sm ml-3 lg:m-3" href="{{ .Site.BaseURL }}/{{ .Site.LanguagePrefix }}">
            <img src="/systemli_logo_1200px.png" alt="logo">
        </a>
        <p class="hidden lg:block max-w-half">/*
            {{ if isset .Params "teaser" }}{{ .Param "teaser" }}
            {{ else }}{{ .Param "subtitle" }}{{ end }}
            */</p>
        <div class="flex lg:hidden items-center justify-center h-20 w-20 bg-lightblue">
            <span class="text-white cursor-pointer" id="button-menu-open">
                Menu
            </span>
        </div>
    </div>
</header>
