<div class="content">
    <div class="grid grid-cols-12">
        {{ range .Paginator.Pages }}
        <div class="flex items-center col-span-3 lg:col-span-1 py-2 border-b border-r text-l leading-6">
            {{ .Date.Format "02/01 2006" }}
        </div>
        <div class="col-span-8 lg:col-span-11 flex items-center pl-4 border-b pr-4 leading-6">
            <h2><a href="{{ .RelPermalink }}" class="text-black">{{ .Title }}</a></h2>
        </div>
        <div class="col-span-1 hidden lg:block"></div>
        <div class="col-span-12 lg:col-span-11 lg:col-span-11 py-4 pl-4 pr-4">
            {{ .Summary }}
            <p>
                <a href="{{ .RelPermalink }}">{{ .Param "readOn" }}</a>
            </p>
        </div>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</div>
{{ partial "service-sidebar.html" . }}
