<div class="content-container">
    <div class="content">
        <div class="grid grid-cols-post-list mb-6">
            <div class="flex items-center py-2 border-b border-r text-l leading-6">
                {{ .Date.Format "02/01 2006" }}
            </div>
            <div class="flex items-center pl-4 border-b pr-4 leading-6">
                <h1 class="mb-0 border-none">{{ .Title }}</h1>
            </div>
        </div>

        {{ .Content }}
    </div>
    {{ partial "service-sidebar.html" . }}
</div>
