<div class="content grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-around lg:col-span-24">
    {{ range .Pages }}
    <a class="bg-lightgrey text-black m-2 p-10 transform hover:scale-101 hover:no-underline"
       href="/service/{{ .File.TranslationBaseName }}">
        <div class="flex justify-between items-center border-b">
            <h2>{{ .Params.Title }}</h2>
            <img class="h-10 ml-2" src="/service-icons/{{ .Params.icon }}" alt="Icon">
        </div>
        <div class="pt-2">
            {{ .Params.teaser }}
        </div>
    </a>
    {{ end }}
    <!-- flex hack: https://stackoverflow.com/questions/16377972/how-to-align-left-last-row-line-in-multiple-line-flexbox -->
    <div class="w-96 h-0 m-2"></div>
    <div class="w-96 h-0 m-2"></div>
</div>
