<script type="application/javascript">
  const origin = 'updates.systemli.org'
  const apiUrl = 'https://ticker-api.systemli.org/v1/timeline'

  // copied from https://github.com/systemli/ticker-frontend/blob/master/src/Helper.js
  function replaceMagic(text) {
      return (text
          .replace(/(https?:\/\/[^\s]+)/g, '<a href="$1" target="_blank">$1</a>')
          .replace(/#(\S+)/g, '<a target="_blank" rel="noopener noreferrer" href="https://systemli.social/tags/$1">#$1</a>')
          .replace(/ @(\S+)/g, ' <a target="_blank" rel="noopener noreferrer" href="https://systemli.social/@$1">@$1</a>')
          .replace(/(\w+@\w+.\w+)/g, '<a href="mailto:$1">$1</a>')
          .replace(/(?:\r\n|\r|\n)/g, '<br/>'))
  }

  fetch(apiUrl + '?limit=5&origin=' + origin).then(response => {
    return response.json()
  }).then(response => {
    let elem = document.getElementById('ticker-container')

    response.data.messages.forEach((message, index) => {
      const date = new Date(message.creation_date)
      let entry = document.createElement('div')
      const text = '<p class="inline-block">' + replaceMagic(message.text) + '</p>'
      const created = '<p class="text-xs">' + date.toLocaleDateString() + ' ' + date.toLocaleTimeString() + '</p>'
      let images = ''

      if (message.attachments != null && message.attachments.length > 0) {
        message.attachments.forEach(attachment => {
          images += '<img src="' + attachment.url + '"  alt=""/>'
        })
      }

      entry.innerHTML = '<div class="mb-2 border-b' + (index > 3 ? ' hide-on-mobile--block' : '') + '">' + text + images + created + '</div>'
      elem.appendChild(entry)
    })
  })
</script>
<div class="border-b leading-6">
    <h2>Latest Updates <span class="text-xs">from <a href="https://updates.systemli.org" target="_blank">updates.systemli.org</a></span>
    </h2>
</div>
<div id="ticker-container" class="ticker-container"></div>
