---
layout: en-default
lang: en
categories:
    - en
---
<div class="jumbotron">
    <h1><img src="/assets/img/systemli_logo_small.png" alt="Logo" class="logo" /> systemli.org</h1>
    <h2>Your friendly tech collective</h2>
    <p>Non-commercial provider of privacy friendly communication. Without surveilliance.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Services <small>Our important services in one view</small></h2>
    </div>
    <div class="col-sm-offset-1 col-sm-2">
        <a class="thumbnail" href="/en/service/xmpp.html">
            <img src="/assets/img/conversation.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/kevinvanden/7310325120">
            <div class="caption text-center">
                <h4>Jabber</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/en/service/mail.html">
            <img src="/assets/img/mailbox.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/24085129@N07/3293669158">
            <div class="caption text-center">
                <h4>E-Mail</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/en/service/etherpad.html">
            <img src="/assets/img/typewriter.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/18358137@N00/5418886939">
            <div class="caption text-center">
                <h4>Etherpad</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/en/service/hosting.html">
            <img src="/assets/img/server.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/mrmuskrat/3637703614">
            <div class="caption text-center">
                <h4>Hosting</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/en/service/ticker.html">
            <img src="/assets/img/ticker.jpg" class="img-responsive hidden-xs" alt="Demoticker">
            <div class="caption text-center">
                <h4>Ticker</h4>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>News</h2>
        {% for post in site.categories.en limit:5%}
        {% include en-news-excerpt.html %}
        {% endfor %}
        <div class="pagination pagination-right">
            <p>
                <a class="btn btn-xs btn-default" href="/en/news/index.html"><i class="icon-list icon-white icon"></i> News-Archiv</a>
                <a class="btn btn-xs btn-default" href="/en/atom.xml"><i class="icon-bullhorn icon-white icon"></i> News-Feed</a>
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget push-top">
            <a class="btn btn-lg btn-block btn-primary" href="/en/service/index.html"> All Services</a>
            <a class="btn btn-lg btn-block btn-default" href="/en/spenden.html"><span class="glyphicon glyphicon-heart"></span> Donations</a>
        </div>
        <div class="widget">
            <h2>Certificates <small>Fingerprints (SHA1)</small></h2>
            <p>systemli.org and pad.systemli.org
                <small><pre>{{ site.fp_www_systemli }}</pre></small>
			</p>
            <p>*.tem.li (e.g. pad.tem.li)
                <small><pre>{{ site.fp_tem_li }}</pre></small>
            </p>
            <p>jabber.systemli.org
                <small><pre>{{ site.fp_jabber_systemli }}</pre></small>
            </p>
			<p>mail.systemli.org
                <small><pre>{{ site.fp_mail_systemli }}</pre></small>
			</p>
			<p>wiki.systemli.org
				<small><pre>{{ site..fp_wiki_systemli }}</pre></small>
			</p>
            <p>demoticker.org
	            <small><pre>{{ site.fp_demoticker }}</pre></small>
            </p>
            <p><a href="/en/about-ssl.html">More informations</a></p>
        </div>
    </div>
</div>
