---
title: "News-Archiv"
layout: default
paginate:
  category: de
---
<div class="row">
  <div class="col-lg-8">
    <h2>{{ page.title }}</h2>
    <div class="pagination">
      {% for post in paginator.posts %}
        {% include news-excerpt.html %}
      {% endfor %}
    </div>
        <ul class="pager">
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <li class="previous"><a href="/news/index.html">&larr; Neuere Beiträge</a></li>
            {% else %}
              <li class="previous"><a href="{{ paginator.previous_page_path }}">&larr; Neuere Beiträge</a></li>
            {% endif %}
          {% else %}
            <li class="previous disabled"><a href="#">&larr; Neuere Beiträge</a></li>
          {% endif %}
          {% if paginator.next_page %}
            <li class="next"><a href="{{ paginator.next_page_path }}">Ältere Beiträge &rarr;</a></li>
          {% else %}
            <li class="next disabled"><a href="#">Ältere Beiträge &rarr;</a></li>
          {% endif %}
        </ul>
  </div>
</div>
