---
layout: default
lang: de
paginate: true
translation_id: 3bcc4028d59fbd74d03760131230d8c1
---
<div class="jumbotron">
    <h1><img src="/assets/img/systemli_logo_small.png" alt="Logo" class="logo" /> systemli.org</h1>
    <h2>Your friendly tech collective</h2>
    <p>{{ lang.subtitle }}</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Services <small>Unsere wichtigsten Dienste im Überblick</small></h2>
    </div>
    <div class="col-sm-offset-1 col-sm-2">
        <a class="thumbnail" href="/service/xmpp.html">
            <img src="/assets/img/conversation.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/kevinvanden/7310325120">
            <div class="caption text-center">
                <h4>Jabber</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/mail.html">
            <img src="/assets/img/mailbox.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/24085129@N07/3293669158">
            <div class="caption text-center">
                <h4>E-Mail</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/etherpad.html">
            <img src="/assets/img/typewriter.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/18358137@N00/5418886939">
            <div class="caption text-center">
                <h4>Etherpad</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/hosting.html">
            <img src="/assets/img/server.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/mrmuskrat/3637703614">
            <div class="caption text-center">
                <h4>Webhosting</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/ticker.html">
            <img src="/assets/img/ticker.jpg" class="img-responsive hidden-xs" alt="Demoticker">
            <div class="caption text-center">
                <h4>Ticker</h4>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <a class="btn btn-lg btn-block btn-primary" href="/service/index.html"> Alle Dienste</a>
    </div>
    <div class="col-xs-12 col-sm-6">
        <a class="btn btn-lg btn-block btn-default" href="/support-us.html"><span class="glyphicon glyphicon-heart"></span> {{ lang.donations }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>News</h2>
    </div>
</div>
<div class="row">
    {% for post in paginator.posts limit:2 %}
    <div class="col-xs-12 col-md-6">
        {% include news-excerpt.html %}
    </div>
    {% endfor %}
</div>
<div class="row">
    {% for post in paginator.posts limit:2 offset:2 %}
    <div class="col-xs-12 col-md-6">
        {% include news-excerpt.html %}
    </div>
    {% endfor %}
</div>
<div class="row">
    {% for post in paginator.posts limit:2 offset:4 %}
    <div class="col-xs-12 col-md-6">
        {% include news-excerpt.html %}
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pagination pagination-right">
            <p>
                <a class="btn btn-xs btn-default" href="/news/index.html"><i class="icon-list icon-white icon"></i> News-Archiv</a>
                <a class="btn btn-xs btn-default" href="/atom.xml"><i class="icon-bullhorn icon-white icon"></i> News-Feed</a>
            </p>
        </div>
    </div>
</div>
