---
layout: default
---
<div class="jumbotron">
    <h1><img src="/assets/img/systemli_logo_small.png" alt="Logo" class="logo" /> systemli.org</h1>
    <h2>Your friendly tech collective</h2>
    <p>Unkommerzieller Anbieter für datenschutzfreundliche Kommunikation. Ganz ohne Überwachung.</p>
</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Services <small>Unsere wichtigsten Dienste im Überblick</small></h2>
    </div>
    <div class="col-sm-offset-1 col-sm-2">
        <a class="thumbnail" href="/service/xmpp.html">
            <img src="/assets/img/conversation.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/kevinvanden/7310325120">
            <div class="caption text-center">
                <h4>Jabber</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/mail.html">
            <img src="/assets/img/mailbox.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/24085129@N07/3293669158">
            <div class="caption text-center">
                <h4>E-Mail</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/etherpad.html">
            <img src="/assets/img/typewriter.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/18358137@N00/5418886939">
            <div class="caption text-center">
                <h4>Etherpad</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/hosting.html">
            <img src="/assets/img/server.jpg" class="img-responsive hidden-xs" alt="Quelle: flickr.com/photos/mrmuskrat/3637703614">
            <div class="caption text-center">
                <h4>Hosting</h4>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a class="thumbnail" href="/service/ticker.html">
            <img src="/assets/img/ticker.jpg" class="img-responsive hidden-xs" alt="Demoticker">
            <div class="caption text-center">
                <h4>Ticker</h4>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>News</h2>
        {% for post in site.posts limit:5 %}
        {% include news-excerpt.html %}
        {% endfor %}
        <div class="pagination pagination-right">
            <p>
                <a class="btn btn-xs btn-default" href="/news/index.html"><i class="icon-list icon-white icon"></i> News-Archiv</a>
                <a class="btn btn-xs btn-default" href="/atom.xml"><i class="icon-bullhorn icon-white icon"></i> News-Feed</a>
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget push-top">
            <a class="btn btn-lg btn-block btn-primary" href="/service/index.html"> Alle Dienste</a>
            <a class="btn btn-lg btn-block btn-default" href="/spenden.html"><span class="glyphicon glyphicon-heart"></span> Spenden</a>
        </div>
        <div class="widget">
            <h2>Zertifikate <small>Fingerprints (SHA1)</small></h2>
            <p>von systemli.org und pad.systemli.org 
                <small><pre>80:E5:D5:8A:00:5B:F7:FB:FA:97:8B:36:C6:5B:7D:64:2C:77:48:30</pre></small>
            </p>
            <p>alle subdomains von tem.li (bspw. pad.tem.li)
                <small><pre>D0:E9:77:38:41:66:0E:4F:66:65:17:3D:93:97:E7:A3:4B:C6:BF:91</pre></small>
            </p>
            <p>alle anderen auf unseren Servern gehosteten Webseiten
                <small><pre>80:F1:89:D2:3F:71:3B:3D:BD:19:0E:3E:BB:CE:8B:AC:0C:A5:46:8B</pre></small>
            </p>
            <p>demoticker.org
                <small><pre>F4:4C:DB:80:49:0F:E5:2D:30:2E:9E:73:7D:C4:D1:B1:C7:94:1B:A4</pre></small>
            </p>
            <p>jabber.systemli.org
                <small><pre>C3:9F:D5:E4:07:3F:08:25:43:A1:3D:C0:71:B3:0E:99:8F:8C:DE:1F</pre></small>
            </p>
			<p>mail.systemli.org
                <small><pre>19:63:24:20:FE:60:22:0F:84:68:1E:3A:E9:AF:BF:B2:3A:52:CD:0E</pre></small>
            </p>
            <p><a href="/about-ssl.html">Mehr Informationen</a></p>
        </div>
    </div>
</div>
