---
layout: default
---
<div class="jumbotron">
    <h1><img src="/assets/img/systemli_logo_small.png" class="img-circle" alt="Logo"/> Systemli</h1>
    <h2>Your friendly tech collective</h2>
    <p>Unkommerzieller Anbieter für datenschutzfreundliche Kommunikationslösungen. Ganz ohne Überwachung.</p>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2>News</h2>
        {% for post in site.posts limit:5 %}
        {% include news-excerpt.html %}
        {% endfor %}
        <div class="pagination pagination-right">
            <p>
                <a class="btn btn-xs btn-default" href="/news/index.html"><i class="icon-list icon-white icon"></i> News-Archiv</a>
                <a class="btn btn-xs btn-default" href="/atom.xml"><i class="icon-bullhorn icon-white icon"></i> News-Feed</a>
            </p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="widget">
            <a class="btn btn-lg btn-block btn-default" href="/service/index.html"><span class="glyphicon glyphicon-heart"></span> Alle Dienste</a>
            <a class="btn btn-lg btn-block btn-info" href="/spenden.html"><span class="glyphicon glyphicon-gift"></span> Spenden</a>
        </div>
        <div class="widget">
            <h2>Zertifikate</h2>
            <p>www.systemli.org and its hosted websites <small><pre>80:F1:89:D2:3F:71:3B:3D:BD:19:0E:3E:BB:CE:8B:AC:0C:A5:46:8B</pre></small></p>
            <p>jabber.systemli.org <small><pre>9C:C4:5D:CB:FA:DB:66:4C:F4:5F:3F:62:C1:9D:7C:1F:AD:7B:5D:B2</pre></small></p>
            <p>mail.systemli.org <small><pre>B7:40:62:65:18:60:A6:D9:7A:92:9B:8A:22:78:27:75:A3:5F:90:10</pre></small></p>
            <p><a href="/about-ssl.html">Mehr Informationen</a></p>
        </div>
    </div>
</div>